<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="w3-row-padding w3-center w3-margin-top">
  <h2>Krishna</h2>
  <p>As the evening rolls, a fireside book on Bhagavad Gita, translated by Nikhilananda of the Ramakrishna Mission in 1980's</p>
  <p>When Krishna spoke of his philosophy to his peers - Arjuna, Yudhishthira and his devotee Uddaloga, constraints such as religion and spirituality were not present. He spoke on what made sense both in the worldly and the metaphysical universe.</p>
  <p>The Vedic order was on the verge of disintegration, then. Crime was at its peak, morality was down to the pit. He spoke of reformation. Vyas transcribed it.</p>
  <p>The motivation to write on Krishna's philosophy is something internal which I find hard to explain in words; compounded with the scare of present digital cultural explosion that compels us to worship “the material,” superseding the most natural predisposition within us - a sublime connection to the divine. The essence of Krishna’s philosophy lies in its simplicity and reinforcement through building blocks of axioms to arrive at the complex.</p>
  <p>Krishna network is a web-app-in-progress. Several years ago, I made my first effort with little success. Only after research and practice, and dispensing the nonessential words, I re-share the findings with you.</p>
  <p>"In the form of a fish, when the flood of dissolution struck this world, with no effort did you clasp the revealed knowledge of the Vedas and kept them afloat."</p>
  <p>Jayadeva ~1200 CE, Geeta Govinda (Sanskrit: गीत गोविन्द).</p>
  <br />
  <hr />
  <div class="w3-row w3-padding">
  <div class="w3-half w3-container">
      <p>May the impeccable Mahabharata lotus,</p>
      <p>That grows in gentle streams of Vyasa's words</p>
      <p>Let it destroy the sins of the present Yuga</p>
      <p>Of which Bhagavad Gita forms an irresistible fragrance</p>    
  </div>
  
  <div class="w3-half w3-container">
      <p>So many tales of noble heroes and maidens</p>
      <p>Lettered by a discourse on Lord Hari</p>
      <p>Light’s nectar sought-after by a swarm of bees</p>
      <p>Just like the joyous men of plenty</p>
      <p>Mahabharata bestows on us the highest good</p>    
  </div>
  </div>

  <div class="w3-row w3-padding">
  <div class="w3-half w3-container">
      <p>I salute my brother Lord Krishna</p>
      <p>An embodiment of the Supreme Bliss</p>
      <p>By his grace, even the mute speaks eloquent</p>
      <p>And, the lame scales the mountains</p> 
  </div>

  <div class="w3-half w3-container">
      <p>I salute the burnished Veda lords</p>
      <p>Bramha, Rudra, Varuna, Indra and Marut</p>
      <p>Their glories proclaimed by us bards</p>
      <p>Sung in verses and chapters of Veda scripts</p>
      <p>Their limits unknown to hosts of gods and demons</p>
  </div>
  </div>

  <hr />
  <h3 class="w3-center">Krizn course runs on AWS, Docker, Python, Python-Flask, NGINX, MongoDB and SQLite3</h3>
  <h4 class="w3-center">Templates use Jinja2 on Web Responsive pages using stylesheets from W3schools. 
  Copyrights and TradeMarks of respective companies acknowledged</h4>
</div>
{% endblock %}